@font-face {
  font-family: "BookAntiqua";
  src: url("./../font/bookantiqua.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "EditorsNote";
  src: url("./../font/Editor'sNote-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "BookAntiqua";
}
a {
  text-decoration: none;
}
/* font-family: 'Alex Brush', cursive; */

.container {
  max-width: 1521px;
  width: 100%;
  margin: auto;
}
.btn {
  cursor: pointer;
  width: fit-content;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding: 16px 36px;
  color: rgba(54, 20, 0, 0.91);
  border: 3px solid #b58012;
  filter: drop-shadow(0px 0px 10px #452512);
  transition: all 0.3s;
}
.btn:hover {
  filter: initial;
}

.welcome {
  height: 100vh;
  min-height: 600px;
  background-image: url(./../img/welcome-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 8px solid #b58012;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 60px;
  justify-content: center;
  gap: 96px;
}
.header__link {
  display: block;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  color: #eae8e7;
  transition: all 0.25s;
}
.header__link:hover {
  border-color: #b58012;
}
.welcome__main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}
.welcome__title {
}
.welcome__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.count {
  background: linear-gradient(
      0deg,
      rgba(54, 20, 0, 0.91),
      rgba(54, 20, 0, 0.91)
    ),
    #ded4cb;
  border-bottom: 8px solid #b58012;
}
.count__main {
  height: 306px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.count__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.count__top {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.count__bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}

.about {
  padding-top: 86px;
  padding-bottom: 86px;
  background-image: url(./../img/bg-paper.png);
  background-size: cover;
  background-position: center center;
  border-bottom: 8px solid #b58012;
}
.about__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #3e2110;
}
.about__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.about__img {
}
.about__txt {
  max-width: 572px;
  display: flex;
  flex-direction: column;
}
.about__head {
  font-family: "Alex Brush";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  color: #000000;
  padding-bottom: 35px;
}
.about__desc-1 {
  font-family: "EditorsNote";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  padding-bottom: 35px;
}
.about__desc-2 {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 32px;
  padding-bottom: 62px;

  color: #000000;
}
.about__btn {
}

.advantage {
  background: linear-gradient(
      0deg,
      rgba(36, 13, 0, 0.91),
      rgba(36, 13, 0, 0.91)
    ),
    #ded4cb;
  padding-top: 60px;
  padding-bottom: 80px;
  border-bottom: 8px solid #b58012;
}
.advatage__head {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  margin-bottom: 72px;
}
.advantage__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.advantage__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.advantage__number {
  width: 185px;
  height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./../img/list-bg.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.advantage__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #b58012;
}
.advantage___desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #fbfbfb;
}
.advantage__desc-item {
}

.price {
  padding-top: 78px;
  padding-bottom: 78px;
  border-bottom: 8px solid #b58012;
  background: #b88a67;
}
.price__head {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 92px;
}
.price__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price__item {
  height: 439px;
  width: 429px;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.8);
  padding: 44px 15px 0 34px;
  transition: all 0.5s;
}
.price__item:hover {
  transform: translateY(-20px);
}
.price__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 58px;
}
.price__area {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid #f1b13e;
  margin-bottom: 20px;
}
.price__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.price__list-item {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.gallery {
  background-image: url(./../img/bg-paper.png);
  background-position: center center;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 8px solid #b58012;
}
.gallery__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #452512;
  margin-bottom: 24px;
}
.gallery__main {
}
.gallery__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 24px;
}
.gallery__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.gallery__sub {
  margin-top: 79px;
  margin-bottom: 40px;
  font-family: "Book Antiqua";
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;

  color: rgba(0, 0, 0, 0.9);
}

.footer {
  background: #2f1100;
  padding-top: 26px;
  padding-bottom: 26px;
}
.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__contact {
}
.footer__logo {
  margin-bottom: 6px;
}
.footer__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #fbfbfb;
  margin-bottom: 12px;
}
.footer__time {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-top: 12px;
  border-top: 1px solid #3d3d3d;
  color: rgba(251, 251, 251, 0.57);
  margin-bottom: 26px;
}
.footer__copy {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #fbfbfb;
}
.footer__map {
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}
.footer__email {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #fbfbfb;
}
.footer__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #fbfbfb;
}
.footer__media {
  padding-top: 26px;
  padding-bottom: 26px;
}
.footer__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: 3px solid rgba(255, 255, 255, 0.89);
  color: #ffffff;
  padding: 17px 30px;
  filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
  transition: all 0.25s;
  cursor: pointer;
}
.footer__btn:hover {
  filter: initial;
  color: #2f1100;
  background-color: #fff;
}
