/* 
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif; 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1612px;
  margin: auto;
}
.btn {
  width: fit-content;
  display: block;
  padding: 16px 34px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffff;
  border: 3px solid rgba(255, 138, 0, 0.89);

  color: #000000;
  transition: all 0.25s;
}
.btn:hover {
  background-color: #ff8a00;
  color: #ffffff;
}

.header {
  padding-bottom: 30px;
}
.header__main {
  height: 121px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo {
}
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 62px;
}
.header__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 10px;

  color: rgba(20, 20, 20, 0.9);

  border-bottom: 1px solid transparent;
  transition: all 0.2s;
}
.header__link:hover {
  border-color: rgba(20, 20, 20, 0.9);
}
.header__btn {
}

.welcome {
  height: 642px;
  background-image: url(./../img/welcome.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.welcome__main {
  height: 642px;
  max-width: 860px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
}
.welcome__title {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  padding-bottom: 17px;

  color: #ffffffe6;
}
.welcome__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.article {
  padding-top: 130px;
  padding-bottom: 130px;
}
.article__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.article__img {
}
.article__post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.article__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;

  color: #000000;
  padding-left: 20px;
}
.article__prgrph {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 20px;

  color: #000000;
}

.list {
  padding-top: 64px;
  padding-bottom: 64px;
  background: rgba(217, 217, 217, 0.5);
}
.list__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list__col {
  display: flex;
  flex-direction: column;
  gap: 41px;
  align-items: flex-start;
}
.list__col:nth-child(1) {
  max-width: 640px;
}
.list__col:nth-child(2) {
  max-width: 757px;
}
.list__item {
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 184px;
}
.list__title {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.list__title-icon {
}
.list__title-head {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;

  color: #000000;
}
.list__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.advantage {
  padding-top: 36px;
  padding-bottom: 102px;
  background-image: url(./../img/advantage.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.advantage__main {
}
.advantage__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 48px;

  color: #fbfbfb;
}
.advantage__list {
  display: flex;
  flex-direction: row;
  gap: 92px;
}
.advantage__item {
}
.advantage__number {
  font-style: normal;
  font-weight: 500;
  font-size: 128px;
  line-height: 156px;

  color: #fbfbfb;
}
.advantage__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 18px;

  color: rgba(255, 158, 44, 0.9);
}
.advantage__txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantage__desc {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #fbfbfb;
}

.adv {
  padding-top: 60px;
  padding-bottom: 86px;
  background-color: #d9d9d9;
}
.adv__main {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.adv__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: rgba(45, 45, 45, 0.8);
  text-align: center;
}
.adv__list {
  border: 5px solid #b6b6b6;
  padding: 54px 50px 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 66px;
}
.adv__item {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.adv__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #ff9e2c;
  border-bottom: 3px solid #9e9e9e;
  padding-bottom: 6px;
  width: fit-content;
}
.adv__desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #1f1f1f;
}

.gallery {
  padding-top: 44px;
  padding-bottom: 44px;
}
.gallery__main {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
  justify-content: center;
}
.gallery__title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;

  color: #000000;
}
.gallery__list {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery__item {
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
}
.gallery__item > img {
  width: 100%;
  object-fit: cover;
}
.gallery__item-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  background: linear-gradient(
    354.71deg,
    #000000 -7.45%,
    rgba(0, 0, 0, 0) 91.2%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;

  transform: translateY(100%);
  transition: all 0.35s;
}
.gallery__item:hover .gallery__item-desc {
  transform: translateY(0%);
}
.gallery__item-title {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  color: #ffffff;
}
.gallery__item-subtitle {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;

  color: #ffffff;
}
.gallery__button {
}
.btn {
}

.plane {
  padding-top: 36px;
  padding-bottom: 64px;
  background: rgba(217, 217, 217, 0.5);
}
.plane__main {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.plane__head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  text-align: center;
}
.plane__list {
  display: flex;
  justify-content: space-between;
}
.plane__item {
  padding: 39px 25px;
  max-width: 430px;
  min-height: 420px;
  border: 2px solid #ff9e2c;
  transition: all 0.3s;
}
.plane__item:hover {
  background-color: #ff9e2c;
  color: #fbfbfb;
}
.plane__item:hover .plane__subtitle {
  color: #fbfbfb;
  border-color: #fbfbfb;
}
.plane__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 19px;
}
.plane__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ff9e2c;
  transition: all 0.3s;
  color: rgba(255, 158, 44, 0.9);
}
.plane__desc {
  padding-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.footer {
  background: rgba(0, 0, 0, 0.9);
  padding-top: 38px;
  padding-bottom: 52px;
}
.footer__main {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
.footer__adress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__logo {
}
.footer__adress-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fbfbfb;
  padding-bottom: 11px;
  border-bottom: 1px solid #3d3d3d;
}
.footer__adress-subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(251, 251, 251, 0.57);
}
.footer__copy {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}
.footer__map {
  width: 650px;
  background-color: #9e9e9e;
}
.footer__contanct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 250px;
}
.footer__linkto {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}
.footer__email {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fbfbfb;
}
.footer__email:hover {
  text-decoration: underline;
}
.footer__tel {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fbfbfb;
}
.footer__tel:hover {
  text-decoration: underline;
}
.footer__social {
}
.footer__social-icon {
}

.partfolio {
  width: 100%;
  background-image: url(./../img/partfolio-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.partfolio__main {
  height: 135px;
  display: flex;
  align-items: center;
}
.parfolio__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
}
